BOT_TOKEN=MTQ4ODg5NzEyNTM0MDI4MzAwMg.GcoxyJ.vbnqOYWyUGCQpoBwwCcaVuy-X3MFpY9xZ19mDs
VOICE_CHANNEL_ID=1488504655678804179
# Optional: list user IDs separated by comma; these users can use moderation commands even without admin role.
OWNER_USER_ID=590496106870341674, 865532522111696916
DB_PATH=bot_data.sqlite3
# 1 = full mode (requires privileged intents in Discord Portal), 0 = limited mode
USE_PRIVILEGED_INTENTS=1
